* {
  --primary-pink: rgb(253, 92, 99); /*#FD5C63*/
  --primary-blue: rgb(0, 132, 137);
  --primary-maroon: rgb(145, 70, 105);
  --primary-black: rgb(34,34,34);
  --primary-grey: rgb(72, 72, 72);
  --secondary-grey: rgb(118,118,118);
  --light-grey: rgb(228,228,228);

  --pink-border: 1px solid var(--primary-pink);
  --blue-border: 1px solid var(--primary-blue);
  --maroon-border: 1px solid var(--primary-maroon);
  --light-grey-border: 1px solid var(--light-grey);

  --heavy-grey-border: 2px solid var(--secondary-grey);
}

.primary-button {
  background-color: var(--primary-pink);
  border: var(--pink-border);
  color: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'AirbnbCerealMedium';
}

.primary-button-blue {
  background-color: var(--primary-blue);
  border: var(--pink-blue);
  color: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'AirbnbCerealMedium';
}

.secondary-button-grey {
  background-color: var(--secondary-grey);
  border: var(--pink-blue);
  color: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'AirbnbCerealMedium';
}

.secondary-button {
  background-color: white;
  border: var(--blue-border);
  color: var(--primary-blue);
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  font-family: 'AirbnbCerealMedium';
  font-size: 12px;
  margin-right: 12px;
}

.primary-header-container {
  font-size: 24px;
  font-family: 'AirbnbCerealMedium';
  padding-top: 24px;
  padding-bottom: 12px;;
}

.sub-header-container {
  font-size: 16px;
  font-family: 'AirbnbCerealLight';
  margin-bottom: 24px;
}

.page-content-container {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
}


/* NAVBAR */

.navbar-container {
  /* position:fixed; */
  height: 80px;
  border-bottom: var(--light-grey-border);
  display: flex;
  justify-content: space-between; 
}

.navbar-logo-container {
  height: 80px;
  padding: 24px;
  align-self: center;
  display: flex;
  justify-content: space-between; 
}

.navbar-logo {
  height: 34px;
  width: 34px;
  align-self: center;
  margin-right: 30px;
}

.navbar-name {
  height: 20px;
  width: 'auto';
  align-self: center;
}

.navbar-links-container {
  align-self: center;
  display: flex;
  justify-content: space-between; 
}

.navbar-button-container{
  /* position: relative; */
  width: 72px;
  flex: 1;
  border-bottom: var(--light-grey-border);
  text-align: center;
  vertical-align: middle;
}

.sign-up-text {
  text-align: center;
  vertical-align: middle;
}

.navbar-button-container:hover{
  border-bottom: var(--heavy-grey-border);
}

.navbar-user-container{
  width: 200px;
  flex: 2;
}

.navbar-user-container:hover{
  border-bottom: var(--heavy-grey-border);
}

.navbar-button {
  align-self: center; 
  white-space: nowrap;
  background: transparent;
  border-style: none;
  border-width: initial;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 8px;
  margin-left: 8px;
  height: 80px;
  font-family: 'AirbnbCerealMedium';
}


/* HOME CONTAINER */

.home-image-container {
  width: 100%;
  height: 480px;
  overflow: hidden;
  text-align: center;
  position: relative;
  color: white;
  border-radius: 4px;
}

.home-image {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

/* .site-image-container {
  overflow: hidden;
  text-align: center;
}

.site-image {
  object-fit: cover;
  height: 350px;
  width: 100%;
  border-radius: 2px;
} */

.home-details-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-header {
  font-family: 'AirbnbCerealBold';
  font-size: 45px;
  margin: 30px;
}

.home-sub-header {
  font-family: 'AirbnbCerealLight';
  font-size: 28px;
  margin: 24px;
}

.sample-sites-container {
  margin-top: 24px;
}

.region-sites-container {
  padding-top: 18px;
}

/* SEARCH FORM  */

.search-form-container {
  display: flex;
  flex-wrap: wrap;
}

.search-field {
  padding: 5px;
}


/* SITE CONTAINER */

.site-headings-container {
  padding-bottom: 24px; 
}

.site-name-heading-container {
  font-size: 26px;
  padding-bottom: 12px;
  font-family: 'AirbnbCerealMedium';
  color: var(--primary-black);
}

.site-sub-headings-container {
  display: flex;
  justify-content: flex-start;
}

.site-sub-heading-container {
  font-size: 14px;
  padding-left: 3px;
  font-family: 'AirbnbCerealMedium';
  color: var(--secondary-grey);
}

.site-details-container {
  display: flex;
}

.site-details-column-1-container {
  flex: 3;
}

.site-details-column-2-container {
  flex: 1;
  padding-left: 24px;
}

.site-image-container {
  overflow: hidden;
  text-align: center;
}

.site-image {
  object-fit: cover;
  height: 350px;
  width: 100%;
  border-radius: 2px;
}

.site-description-container { 
  padding-top: 24px;
}

.site-description-container-header {
  font-size: 16px;
  font-family: 'AirbnbCerealMedium';
  margin-bottom: 16px;
  color: var(--primary-black)
}

.site-description-text-container {
  font-size: 16px;
  font-family: 'AirbnbCerealLight';
  color: var(--primary-black)
}

.site-description-link-container {
  padding-top: 12px;
  font-size: 16px;
  font-family: 'AirbnbCerealMedium';
  color: var(--primary-blue);
  text-decoration: none;
}

.site-description-link-container:hover {
  text-decoration: underline;
}

.map-container {
  height: 400px; 
  width: 700px;
  margin-top: 24px;
}


.tags-container {
  display: flex;
  width: 100%;
  justify-content: flex-start ;
  flex-wrap: wrap;
  padding-top: 12px;
}


.tag {
  height: 30px;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: var(--light-grey);
  white-space: nowrap;
}

.tag-text {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family:'AirbnbCerealMedium';
  font-size: 13px;
  color:var(--secondary-grey);

}

.tag-text:hover {
  text-decoration: underline;
}

.site-sub-details-container {
  margin-bottom: 24px;
}

.site-detail {
  font-family:'AirbnbCerealBold';
  font-size: 16px;
  color:var(--prmimary-grey);
}

.site-detail-description {
  font-family:'AirbnbCerealMedium';
  font-size: 12px;
  color:var(--secondary-grey);
  margin-bottom: 4px;
}



/* SITE CARD + CONTAINER */

.sites-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.site-card-container {
  height: 240px;
  width: 315px;
  padding-left: 8px;
  padding-top: 8px;
  padding-right: 8px;
  margin-bottom: 12px;
}

.site-card-image-container {
  overflow: hidden;
  text-align: center;
  position: relative;
}

.site-card-image {
  object-fit: cover;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 300px;
  height: 180px;
  border-radius: 5px;
}

.site-card-buttons-hover-container {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.site-card-image-container:hover .site-card-image {
  opacity: 0.5;
}

.site-card-image-container:hover .site-card-buttons-hover-container {
  opacity: 0.9;
}

.save-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.active-button {
  background-color: var(--primary-blue);
  border: var(--blue-border);
  border-radius: 5px;
  color: white;
  font-family: 'AirbnbCerealLight';
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 12px;
  margin: 4px;
  width: 150px;

}

.passive-button {
  background-color: var(--light-grey);
  border: var(--light-grey-border);
  border-radius: 5px;
  font-family: 'AirbnbCerealLight';
  padding-top: 8px;
  padding-bottom: 8px;
  /* padding-left: 18px;
  padding-right: 18px; */
  font-size: 12px;
  width: 150px;
}
/* 
background-color: var(--primary-pink);
border: var(--pink-border);
color: white;
border-radius: 5px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
font-family: 'AirbnbCerealMedium'; */

.site-card-details-container {
  height: 72px;
  width: 300px;
  padding-left: 2px;
  padding-right: 2px;
}

.site-card-country-container {
  font-size: 12px;
  font-family: 'AirbnbCerealMedium';
  color: var(--secondary-grey);
}

.site-card-name-container {
  font-size: 16px;
  font-family: 'AirbnbCerealMedium';
  color: var(--primary-black);
}

.site-card-star-container {
  height: 16px;
  padding-top: 1px;
  padding-bottom: 1px;

  
}

.star {
  color: var(--primary-pink)
}

.site-card-text-details-container {
  margin-bottom: 10px;
}

.site-card-buttons-container {
  display: flex;
  justify-content: flex-start;
}

/* SAVED CONTAINER */

.saved-page-content-container {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-wrap: wrap;
}

.bucketlist-and-visited-content-container {
  width: 50%;
}





/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}  */

