* {
  --primary-pink: rgb(253, 92, 99); 
  --primary-blue: rgb(0, 132, 137);
  --primary-maroon: rgb(145, 70, 105);
  --primary-grey: rgb(72, 72, 72);
  --secondary-grey: rgb(118,118,118);

  --pink-border: 1px solid var(--primary-pink);
  --pink-border: 1px solid var(--primary-pink);
  --pink-border: 1px solid var(--primary-pink);

}

/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}  */

